.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    background-color: #FFFFFF;
    transition: transform 0.3s ease;
}

.header__logo-search-wrapper {
    position: relative;
}

.header__logo-search {
    border-bottom: 0.0625rem solid #E6E8EC;
}

.header__logo-wrapper {
    padding: 1.8125rem 0 1.5625rem 0;
    text-align: center;
}

.header__logo {
    width: 11.3125rem;
    height: 1.6875rem;

}

.header__menu {
    background: white;
    transition: transform 0.3s ease;
    border-bottom: 1px solid #eee;
}

.header__menu--hidden {
    transform: translateY(-100%);
}


.header__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.header__menu-list {

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0;


    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1.3125rem 1.25rem;
    margin: 0;
    border-bottom: 0.0625rem solid #E6E8EC
}

.header__menu-item:not(:last-child):after {
    content: url('../../assets/chevron-down.svg');
    margin-left: 0.5rem;
}

.header__menu-item:not(:last-child) {
    margin-right: 2rem;
}

.header__menuSharp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: none;
}

@media screen and (max-width: 768px) {
  .header__menu {
        display: none;
}
.header__menuSharp{
    display: block
}
}