.mobil-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--menu-width, 90%);
    background-color: #fff;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease, width 0.3s ease;
    --menu-width: 90%;
}

.mobil-menu--open {
    transform: translateX(0);
}

.mobil-menu__list {
    list-style: none;
    padding: 1.875rem 1.25rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mobil-menu__item {
    padding: 1rem;
    border-bottom: 0.0625rem solid #eee;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.mobil-menu__item::after {
    content: url('../../assets/chevron-down.svg');
    margin-left: 0.5rem;
}

.mobil-menu__item_border {
    border-bottom: none;
}

.mobil-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.25rem 1.5625rem 1.25rem;
    border-bottom: 0.0625rem solid #eee;
}

@media (max-width: 36rem) {
    .mobil-menu {
        --menu-width: 100%;
    }
}